@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-Main: hsl(217, 54%, 11%);
    --Very-dark-blue-Card: hsl(216, 50%, 16%);
    --Very-dark-blue-Line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--Very-dark-blue-Main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 327px;
    height: auto;
    padding: 24px;
    border-radius: 15px;
    background-color: var(--Very-dark-blue-Card);
}

.container__image {
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 278px;
    height: 278px;
    margin: 0 auto 24px;
    border-radius: 8px;
    overflow: hidden;
}

.image__eye {
    background-color: var(--Cyan);
    width: 100%;
    height: 100%;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.image__eye:hover {
    cursor: pointer;
    opacity: 0.5;
}
.container__title a{
    color: var(--White);
    margin: 24px 0 12px 0;
    font-size: 1.375rem;
    text-decoration: none;
}

.container__description {
    color: var(--Soft-blue);
    margin-bottom: 16px;
    line-height: 26px;
    font-weight: 300;
    font-size: 1rem;
}

.container__details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9375rem;
    margin-bottom: 16px;
}

.details__value {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 15px;
    color: var(--Cyan);
    font-weight: 600;
    font-size: 1rem;
}

.details__time {
    display: flex;
    width: 50%;
    justify-content: end;
    gap: 15px;
    color: var(--Soft-blue);
}

.container__line {
    border-bottom: var(--Very-dark-blue-Line) 1px solid;
    margin-bottom: 16px;
}

.container__creator {
    display: flex;
    align-items: center;
    gap: 16px;
}

.creator__picture {
    width: 33px;
    height: 33px;
    border: var(--White) 1px solid;
    border-radius: 50%;
}

.creator__name {
    font-size: 1rem;
    color: var(--Soft-blue);
}

.creator__name span a{
    color: var(--White);
    text-decoration: none;
}

.creator__name span a:hover {
    color: var(--Cyan);
    cursor: pointer;

}



/*--------------Desktop-------------*/
@media (min-width: 900px) {
    body {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-container {
        width: 350px;
        height: 596px;
    }

    .container__image {
        width: 302px;
        height: 302px;
    }

    .container__title {
        margin-bottom: 16px;
    }

    .container__description {
        font-size: 1.125rem;
        margin-bottom: 24px;
    }

    .container__details {
        margin-bottom: 24px;
    }
}


/*----------------footer----------------*/
.attribution {
    font-size: 14px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}